<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- ============================权限===================================== -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- ============================权限===================================== -->
  <application >
    <activity android:name="com.alianhome.deviceuniqueidentifier.MainActivity"/>
  </application>
</manifest>